* {
    margin: 0;
    padding: 0;
}
header {
    background-color: rgb(62, 63, 105);
}

.cards {
    background-color: rgb(62, 63, 105);
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    border-radius: 5px;
}